$back-color: #f2f2f2;

body {
  background-color: $back-color !important;
}

.float-none {
  float: none !important;
}
.container {
  padding: 60px 0;
}
.row {
  margin-bottom: 30px;
}
body h1 {
  margin: 0;
  text-align: center;
}

.head-logo img {
  width: 100%;
}

.mb20 {
  margin-bottom: 20px;
}