/* CSS declarations go here */
li {
    color: black;
}


* {
    box-sizing: border-box;
}







ul.main-menu {
    display: flex;
    margin: 0 auto;
    font-size: 22px;
    text-align: center;
    color: white;
    padding: 0;
}

ul.main-menu li {
    flex-grow: 1;
    display: block;
    border-left: 1px solid #B6B6B6;
    border-right: 1px solid #B6B6B6;
}

ul.main-menu a {
    text-decoration: blink;
    color: white;
    display: block;
    transition: box-shadow 200ms;

}
ul.main-menu a:hover {
    box-shadow: 0px 0px 0px 50px rgba(255, 255, 255, 0.33) inset;
}
.inner {
    max-width: 970px;
    margin: 0 auto;
}

header-component {
    padding-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
    background: black;
    width: 100%;
}

body {
    margin: 0;
}

a.logo {
}

.row {
    display: inline-block;
    width: 100%;
}

header-component form-search {
    display: inline-block;
    float: left;
    margin-right: 10px;
}

footer-component form-search {
    display: block;
    margin-bottom: 15px;
}

a.logo img {
    width: 60px;
}

app-content {
    direction: rtl;
}

facebook-like {
    /* background: rosybrown; */
    float: left;
}

.menu-row {
    background: #7C7C7C;
}

footer-component {
    display: inline-block;
    width: 100%;
    min-height: 200px;
    background: #EDECEC;
    text-align: center;
    padding: 24px 0;
}

footer-component form-search {
    color: red;
}

.copyright {
    color: #7C7C7C;
}











article-teaser .captcha {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 10px;
    position: absolute;
    width: 100%;
    bottom: 0;
}
article-teaser h3{
    margin:0;
}
article-teaser{
    position: relative;
    display: inline-block;
    width: 320px;
}
article-teaser img{
    width: 100%;
    display: block;
}
article-teaser .video-icon {
  /*  background-image: url('assets/images/type-video.png');*/
    width: 72px;
    height: 72px;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}


.main-content {
    padding: 25px 0;
}

article-captcha {
    display: inline-block;
    margin-bottom: 20px;
    width: 295px;
    vertical-align: top;
    margin-left: 25px;
}

article-captcha img {
    width: 150px;
    float: right;
    margin-left: 10px;
}

article-captcha .captcha {
    overflow: hidden;
}

article-captcha h3 {
    margin: 0;
    border-bottom: 1px solid;
}

home-state-component {
    display: flex;
}

home-state-component > * {
    box-shadow: 0px 0px 26px -4px  black inset;
    padding: 17px;
}
